<div class="flex">
  <div class="home-fifty main-light-background">
    <div class="pb5"></div>
    <div class="post-container">

      <div class="home-logo-container">
        <%= link_to(root_url) do %>
          <div class="home-logo">
            <%= image_tag("ninth-digital-logo-email.png", alt: "cryptolovesh2o Logo") %>
          </div>
        <% end %>
      </div>

      <div class="center title3">
        <span class="black bold">Crypto Loves H2O</span>
      </div>

      <div class="pb3"></div>
      <div class="pbhalf"></div>

      <div class="title2 center">
        A Cryptocurrency Blog
        <div class="pbhalf"></div>
        — for —
        <div class="pbhalf"></div>
        Humans From Anywhere
      </div>

      <div class="pb5"></div>
    </div>
  </div>
  <div class="home-fifty-sign-in secondary-light-background">
    <%= spacing_static('b', '5') %>
    <div class="post-container">

    <span class="home_email"><%= render 'emails/partials/home_email' %></span>

    </div>
    <%= spacing_static('b', '5') %>
  </div>
</div>


<div class="main-container">
  <div class="pb5"></div>
  
  <% @posts.each do |post| %>
    <div class="center">
      <%= link_to post_path(post) do %>
        <div class="img-border">
          <img class="half-container-image" src="<%= post.image %>" alt="<%= post.title %>"/>
        </div>
        <div class="pb3"></div>
        <div class="title2 half-container-max-title">
          <%= post.title %>
        </div>
        <div class="pb1"></div>
        <div class="darkgrey">
          <%= pluralize(post.readtime, 'minute') %> to read | <%= posted(post.created_at) %>
        </div>
        <div class="pb1"></div>
        <div class="black half-container-max-description">
          <%= post.description %>
        </div>
      <% end %>
    </div>
    <div class="pb5"></div>
  <% end %>

  <% if @posts.present? %>
    <% if Post.all.count > 15 %>
      <%= link_to posts_path do %>
        <div class="title1 center">
          View more...
        </div>
      <% end %>
      <div class="pb5"></div>
    <% end %>
  <% end %>
</div>

<div class="main-light-background">
  <%= spacing_static('b', '5') %>
  <div class="post-container">
    <div class="title2 center pb3">
      We support what we love...
    </div>
    <div class="center">
      ...and that's why 3% of our profits go to helping out our environment through Trees.org. Trees.org plants 1 tree for every ten cents donated. Our goal is to plant one tree per cryptolovesh2o user per month!

      <div class="pb3"></div>

      We also use some of our profits to invest in companies that we would like to see successful in the future. We aim for industries that support the environment such as green power, solar energy, and waste reduction.
    </div>
  </div>
  <%= spacing_static('b', '5') %>
</div>