<div class="pb5"></div>
<div class="title2 center">
  Share this with your friends
</div>
<div class="pb3"></div>

<div class="flex">

  <div class="share-container">
    <a onclick='javascript:window.open("https://www.facebook.com/sharer/sharer.php?u=<%= post_url(@post) %>", "_blank", "width=800, height=500, top=200, left=300");void(0)'>
      <div class="fb-button">
        <i class="fab fa-facebook-f"></i>
      </div>
    </a>
  </div>

  <div class="share-container">
    <a onclick='javascript:window.open("http://twitter.com/share?text=<%=h truncate(@post.title, length: 117) %> by @NinthDigital -&amp;url=<%= post_url(@post) %>", "_blank", "width=800, height=500, top=200, left=300");void(0)'>
      <div class="t-button">
        <i class="fab fa-twitter"></i>
      </div>
    </a>
  </div>

  <div class="share-container">
    <a onclick='javascript:window.open("mailto:?Subject=<%= @post.title %>&amp;Body=<%= @post.description %> on Ninth Digital - <%= post_url(@post) %>", "_blank");void(0)'>
      <div class="print-button">
        <i class="far fa-envelope"></i>
      </div>
    </a>
  </div>

</div>