<div style="width: 55.5px; margin: 0 auto;">
  <%= link_to root_url do %>
    <%= image_tag("ninth-digital-logo-email.png", alt: "cryptolovesh2o Logo", width: "100%", style: "display: block;") %>
  <% end %>
</div>

<div style="padding-bottom: 10px;"></div>

<div style="line-height: 1.25em; font-size: 1.5em; text-align: center;">
  <%= link_to(root_url, style: "text-decoration: none; color: #fc9580; cursor: pointer; -webkit-transition: .3s; font-weight: 700;") do %>
    <span style="color: #fc9580; font-weight: 700;">crypto</span><span style="color: #202324; font-weight: 400;">loves</span><span style="color: #80e7fc; font-weight: 300;">h2o</span>
  <% end %>
</div>

<div style="padding-bottom: 50px;"></div>

<div style="text-align: center;">
  <%= ['Hi', 'Hey', "Hello", "Hi there", "Dear"].sample %>, <span style="color: #fc9580; font-weight: 700;"><%= @user ? (link_to @user.email.split('@').first, user_url(@user), style: "text-decoration: none; color: #fc9580; cursor: pointer; font-weight: 700;") : @email.email.split('@').first %></span>,
</div>

<div style="padding-bottom: 50px;"></div>