<div class="nd-footer-background">
  <footer class="nd-full-footer-container">
    <div class="main-container">
      <nav class="nd-footer">
        <div class="center">
          <%= link_to "Ninth Digital", root_url, class: "nav-links" %>
        </div>
        <div class="pb1"></div>
        <div class="center">
          <li><%= link_to "Blog", posts_path, class: "nav-links" %></li>
          <li><%= link_to "About", about_path, class: "nav-links" %></li>
          <li><%= link_to "Terms", terms_path, class: "nav-links" %></li>
          <li><%= link_to "Privacy", privacy_path, class: "nav-links" %></li>
          <li><%= link_to "Contact", new_contact_path, class: "nav-links" %></li>
          <% if user_signed_in? %>
            <li><%= link_to "Account", user_path(current_user), class: "nav-links" %></li>
            <li><%= link_to "Sign Out", sign_out_path, class: "nav-links" %></li>
          <% end %>
        </div>
      </nav>

      <div class="pb1"></div>

      <div class="center nd-social-icon-list">
        <li><a class="yt-link" href="https://www.youtube.com/channel/UCeyweXaiUHnbh7shHkxfg2w"><i class="fab fa-youtube"></i></a></li>
        <li><a class="ig-link" href="https://instagram.com/ninthdigital"><i class="fab fa-instagram"></i></a>
        <li><a class="t-link" href="https://twitter.com/ninthdigital"><i class="fab fa-twitter"></i></a>
        <li><a class="fb-link" href="https://www.facebook.com/ninth.digital.for.humans"><i class="fab fa-facebook-f"></i></a></li>
      </div>

      <div class="pb1"></div>
      
      <div class="nd-footer-disclaimer">
        <i class="fas fa-heart"></i> <i class="fas fa-city"></i> <i class="far fa-snowflake"></i> <i class="fas fa-pizza-slice"></i> Buffalo, New York, Earth <i class="fas fa-drumstick-bite"></i> <i class="fas fa-tree"></i> <i class="fas fa-globe-americas"></i> <i class="fas fa-heart"></i>
      </div>
      <div class="pb3"></div>
    </div>
  </footer>
</li>