<header class="nd-header-container nd-header-padding">
  <div class="nd-header-line-height">
    <div class="flex">

      <div class="nd-title-container">
        <div class="flex">
          <div class="nd-header-logo-container">
            <%= link_to(root_url) do %>
              <div class="nd-header-logo">
                <%= image_tag("ninth-digital-logo.png", alt: "cryptolovesh2o Logo") %>
              </div>
            <% end %>
          </div>

          <div class="nd-header-title-container">
            <%= link_to root_url do %>
              <span class="bold">Crypto Loves H2O</span>
            <% end %>
          </div>
        </div>
      </div>

      <div class="nd-nav-container right">
        
        <nav class="nd-header">
          <% if user_signed_in? %>            


          <% else %>
            <span class="desktop-only"><li><%= link_to 'Sign In', sign_in_path, class: "nav-links" %></li></span>
            <span class="desktop-only"><li><%= link_to 'Register', register_path, class: "nav-links" %></li></span>
          <% end %>
          <li id="menu-click-open"><i class="fas fa-ellipsis-v"></i></li>
        </nav>
      </div>

    </div>
  </div>
</header>
<div class="nd-header-border"></div>

<div id="nd-menu-container"> 
  <div class="nd-side-menu">
    <header class="nd-header-container nd-header-padding">
      <div class="nd-header-line-height">

        <div class="flex">

          <div class="nd-title-container">
            <div class="flex">
              <div class="nd-header-logo-container">
                <%= link_to(root_url) do %>
                  <div class="nd-header-logo">
                    <%= image_tag("ninth-digital-logo.png", alt: "cryptolovesh2o Logo") %>
                  </div>
                <% end %>
              </div>

              <div class="nd-header-title-container">
                <%= link_to root_url do %>
                  <span class="bold">ninth</span><span class="normal">.</span><span class="thin">digital</span>
                <% end %>
              </div>
            </div>
          </div>

          <div class="nd-nav-container right">
            <div id="menu-click-close">
              <i class="fas fa-times"></i>
            </div>
          </div>

        </div>
      </div>

      <ul>
        <div class="pb3"></div>
        <% if user_signed_in? %>
          <li><%= link_to 'Account', user_path(current_user), class: "nav-links" %></li>
          <li><%= link_to 'Sign Out', sign_out_path, class: "nav-links" %></li>
        <% else %>
          <li><%= link_to 'Sign In', sign_in_path, class: "nav-links" %></li>
          <li><%= link_to 'Register', register_path, class: "nav-links" %></li>
        <% end %>
      </ul>

    </header>
  </div>
</div>