<% if admin_signed_in? %>
  <%= link_to "Admin", admin_path(current_admin) %>
<% end %>
<header class="header-container pt1 pb1">
  <div class="header-line-height">

      <div class="mobile-only-block">
        <div class="flex">

          <div class="title-container">
            <div class="flex">
              <div class="header-logo-container">
                <%= link_to(root_url) do %>
                  <div class="header-logo">
                    <%= image_tag("ninth-digital-logo.png", alt: "cryptolovesh2o Logo") %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

          <div class="nav-container right">
            <div id="menu-click-open">
              <i class="fas fa-bars"></i>
            </div>
          </div>

        </div>
      </div>

      <div class="desktop-only">
        <div class="flex">
          <div class="home-nav-container">
            <nav class="header center">
              <% unless user_signed_in? && current_user.subscriptions.any? %>
                <% if @global_package.present? %>
                  <li><%= link_to "Get Started", package_path(@global_package), class: "nav-links" %></li>
                <% end %>
              <% end %>
              <li><%= link_to "Portfolio", sites_path, class: "nav-links" %></li>
              <li><%= link_to 'Addons', addons_path, class: 'nav-links' %></li>
              <li><%= link_to 'Blog', posts_path, class: 'nav-links' %></li>
              <li><%= link_to 'Tutorials', tutorials_path, class: 'nav-links' %></li>
            </nav>
          </div>
        </div>

      </div>

    </div>
  </div>
</header>

<div id="menu-container"> 
  <div class="side-menu">
    <header class="header-container pt1 pb1">
      <div class="header-line-height">

        <div class="flex">

          <div class="title-container">
            <div class="flex">
              <div class="header-logo-container">
                <%= link_to(root_url) do %>
                  <div class="header-logo">
                    <%= image_tag("ninth-digital-logo.png", alt: "cryptolovesh2o Logo") %>
                  </div>
                <% end %>
              </div>

              <div class="header-title-container">
                <%= link_to root_url do %>
                  <span class="bold">ninth</span><span class="normal">.</span><span class="thin">digital</span>
                <% end %>
              </div>
            </div>
          </div>

          <div class="nav-container right">
            <div id="menu-click-close">
              <i class="fas fa-times"></i>
            </div>
          </div>

        </div>
      </div>

      <ul>
        <div class="pb3"></div>
        <% if @global_package.present? %>
          <li><%= link_to "Get Started", package_path(@global_package), class: "nav-links" %></li>
        <% end %>
        <li><%= link_to 'Addons', addons_path, class: "nav-links" %></li>
        <li><%= link_to 'Portfolio', sites_path, class: "nav-links" %></li>
        <li><%= link_to 'Blog', posts_path, class: "nav-links" %></li>
        <li><%= link_to 'Tutorials', tutorials_path, class: "nav-links" %></li>
      </ul>

    </header>
  </div>
</div>