<%= provide(:title, "Admin Page") %>

<div class="post-container">

  <div class="title1 center">
    Welcome, <%= current_admin.email %>!
  </div>

  <div class="pb3"></div>
  <%= link_to "User Panel", '#', class: "main-button" %>

  <div class="pb3"></div>
  <%= link_to "Email Panel", admin_email_panel_path(current_admin), class: "main-button" %>

  <div class="pb3"></div>
  <%= link_to "Contact Panel", '#', class: "main-button" %>

</div>