<%= provide(:title, "User Panel") %>

<div class="post-container">

  <div class="title1 center">
    User Panel
  </div>

  <div class="pb3"></div>

  <% @users.each do |user| %>
    <div class="flex">

      <div class="one3rd-container-no-split">
        <div class="user-border">
          <%= link_to user.email, user_path(user) %>
        </div>
      </div>

      <div class="one3rd-container-no-split">
        <div class="<%= user.status %>-border center white">
          <%= user.status.titleize %>
        </div>
      </div>

    </div>

    <div class="pb3"></div>
  <% end %>

  <div class="small-border center">
    <%= paginate @users %>
  </div>
</div>